.t-bar {
  background: #2d3035;
  height: 48px;
  position: fixed;
  width: 100%;
  .t-list {
    display: flex;
    justify-content: flex-end;
    ul {
      margin: 0px;
      float: right;
      li {
        float: left;
        list-style: none;
        color: #b2b5b9;
        font-size: 14px;
        padding: 15px 17px 13px 17px;
        cursor: pointer;
      }
      .active-link {
        border-bottom: 1.4px solid #f45f39;
      }
    }
    i {
      color: #f45f39;
      padding: 15px 0px 13px 17px;
      font-size: 18px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 27px;
      height: 12px;
      margin: 18px 17px 13px 11px;
    }
    .switch input {
      display: none;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #f45f39;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    .slider:before {
      position: absolute;
      content: '';
      height: 10px;
      width: 9px;
      left: 2px;
      bottom: 1px;
      background: #100100;
      transition: 0.4s;
    }
    input:checked + .slider {
      background-color: #f45f39;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #f45f39;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(14px);
    }
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
  }
}
