.n-footer {
  background: black;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: white;
  position: relative;
  bottom: 0;
  margin-left: 56px;
  width: calc(100% - 56px);
}

.first-section,
.sec-section {
  padding: 20px;
}
