.s-nav {
  width: 56px;
  background: #04292f;
  height: 100vh;
  position: absolute;
  top: 0;
  color: white;
}

.s-nav ul {
  margin: 0px;
  padding: 0px;
}

.s-nav li {
  padding: 10px 7px 10px 7px;
}
