.s-nav {
  width: 56px;
  background: #04292f;
  height: 100vh;
  position: absolute;
  top: 0;
  color: white;
  z-index: 1;
}

.s-nav ul {
  margin: 0px;
  padding: 0px;
}

.s-nav li {
  padding: 12px 0px 10px 0px;
  text-align: center;
}
.s-nav .toggle-icon {
  padding-top: 18px;
}
